# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Tool caches
.ruff_cache/
.mypy_cache/
.pytest_cache/

# OS/editor artifacts
.DS_Store
.vscode/
.idea/
